* {
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    color:#222222;
}
h3{
    margin:3px 0 0 0;
    padding:0;
}
.main { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
